@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

html,
body {
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #3d3e50;
}

.form {
  min-height: 100vh;
  max-width: 560px;
  min-width: 300px;
  margin: 0 auto;
  padding: 16px;
}

.form * {
  outline: none;
}

.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.form__image {
  max-width: 268px;
}

.form__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.form__title {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #007f80;
  margin: 24px 0px 0px;
}

.form__fieldset {
  margin-top: 24px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px mediumvioletred;
  border-radius: 8px;
  padding: 12px;
}

.fieldset_color-cyan {
  display: flex;
  width: calc(100% - 24px);
  border: solid 1px #007f80;
  margin: 24px 0 0px;
}

.legend {
  font-size: 18px;
  font-weight: bold;
  color: mediumvioletred;
}

.legend_color-cyan {
  font-weight: bold;
  color: #007f80;
}

.form__reqtext {
  font-size: 12px;
  line-height: 140%;
  text-align: right;
  margin: 0;
}

.form__reqtext:first-of-type {
  margin-top: -8px;
}

.form__reqtext:last-of-type {
  margin-bottom: 12px;
}

.form__item {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.form__label {
  width: 20%;
  text-align: right;
  color: rgb(50, 140, 201);
}

.form__input,
.form__select {
  box-sizing: border-box;
  width: 80%;
  color: #3d3e50;
  border: solid 1px #3d3e50;
  border-radius: 8px;
  padding: 12px 12px 8px 12px;
  margin: 12px 0px 0px 12px;
}

.form__input:focus,
.form__select:focus {
  border: solid 1px rgb(50, 140, 201);
}

.form__input:required:valid {
  background: url(../img/check.svg) 98% center/18px no-repeat;
}

.form__select option {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  color: #3d3e50;
}

.checkbox {
  width: 80%;
}

.checkbox__item {
  display: inline-flex;
  align-items: center;
}

.checkbox,
.radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  width: 80%;
}

.form__checkbox,
.form__radio {
  margin: 12px 0 0 12px;
}

.form__checkbox div:not(:last-child),
.form__radio div:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

.radio__item {
  display: inline-flex;
  align-items: center;
}

.radio__item:focus input,
.radio__item:focus label,
.checkbox__item:focus input,
.checkbox__item:focus label,
.radio__item:hover label,
.checkbox__item:hover label {
  color: rgb(50, 140, 201);
}

.checkbox__label,
.radio__label {
  cursor: pointer;
  white-space: nowrap;
}

.form__comment {
  display: flex;
  flex-direction: column;
}

.comment__label {
  position: relative;
  top: 36px;
  left: 10px;
  background-color: #ffffff;
  padding: 0px 5px;
}

.comment__textarea {
  min-height: 120px;
  width: calc(100% - 24px);
  resize: vertical;
  padding: 12px 12px 8px 12px;
}

.file {
  display: flex;
  flex-direction: column;
}

.file__label {
  width: 100%;
  margin-top: 36px;
  text-align: left;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

.file__preview {
  max-width: 120px;
  padding: 12px 0px 0px 0px;
}

.file__preview img {
  width: 100%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}

.file__button {
  display: flex;
}

.form__buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.button {
  display: inline-flex;
  position: relative;
  top: 0;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  padding: 13px 30px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 0 #23262f3b;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
}

.button:active {
  top: 3px;
  box-shadow: 0 0px 0 #23262f3b;
}

.button_color-gray {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin-top: 12px;
  font-size: 14px;
  background-color: #828388;
}

.button_color-cyan {
  background-color: #007f80;
}

.button_color-cyan:hover {
  background-color: rgb(94, 221, 221);
}

.button_color-violetred {
  background-color: mediumvioletred;
  margin-right: 24px;
}

.button_color-violetred:hover {
  background-color: rgb(245, 105, 193);
}

.form__agreement {
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  margin-top: 24px;
  padding: 0px 24px;
}

.form__success {
  text-align: center;
  line-height: 120%;
  color: #007f80;
  margin-top: 24px;
}

.form__success-fail {
  color: mediumvioletred;
}

/* - Медиазапросы ------------------------------------------ */

@media screen and (max-width: 500px) {
  .form__item {
    flex-direction: column;
  }

  .form__input,
  .form__select,
  .form__label {
    width: 100%;
  }

  .form__input,
  .form__select,
  .form__checkbox,
  .form__radio {
    margin: 0px;
  }

  .form__label {
    text-align: left;
    margin-top: 12px;
  }

  .form__file {
    align-items: center;
  }

  .file__label {
    text-align: center;
    margin-top: 48px;
  }

  .form__buttons {
    flex-direction: column;
    width: 100%;
  }

  .button_color-cyan {
    width: 100%;
  }

  .button_color-violetred {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
